<GridLayout rows="*, 100" columns="*">
  <!--
      Add *ngIf to ns-sub1 crashes on iOS with:
      JS ERROR TypeError: undefined is not an object (evaluating 'measureSpec.setColumn')
  -->
  <ns-sub1 *ngIf="activeBtn === 0"></ns-sub1>
  <!-- <ns-sub1></ns-sub1> -->
  <GridLayout row="1" columns="*, *, *" rows="*">
    <Button
      col="0"
      text="0"
      class="btn btn-primary p-0 m-0"
      [class.btn-outline]="activeBtn === 0"
      (tap)="onTap($event, 0)"
    ></Button>
    <Button
      col="1"
      text="1"
      class="btn btn-primary p-0 m-0"
      [class.btn-outline]="activeBtn === 1"
      (tap)="onTap($event, 1)"
    ></Button>
    <Button
      col="2"
      text="2"
      class="btn btn-primary p-0 m-0"
      [class.btn-outline]="activeBtn === 2"
      (tap)="onTap($event, 2)"
    ></Button>
  </GridLayout>
</GridLayout>
